{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "useTabs": true,
    "semi": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always"
}